h1 Calculadora de nutrición
form(action='/calcular', method='POST', id='calculoForm')
  label(for='sexo') Sexo
  select(id='sexo', name='sexo')
    option(value='masculino') Masculino
    option(value='femenino') Femenino

  label(for='edad') Edad
  input(type='number', id='edad', name='edad', required)

  label(for='peso') Peso (kg)
  input(type='number', id='peso', name='peso', required)

  label(for='altura') Altura (cm)
  input(type='number', id='altura', name='altura', required)

  label(for='actividad') Actividad Física
  select(id='actividad', name='actividad')
    option(value='sedentario') Sedentario
    option(value='ligeramenteActivo') Ligeramente Activo
    option(value='moderadamenteActivo') Moderadamente Activo
    option(value='muyActivo') Muy Activo
    option(value='extraActivo') Extra Activo

  label(for='objetivo') Objetivo
  select(id='objetivo', name='objetivo')
    option(value='mantener') Mantener Peso
    option(value='perder') Perder Peso
    option(value='ganar') Ganar Peso

  button(type='submit', id='calcularBtn') Calcular

div#resultado
  block content

h1 Calculadora de Macronutrientes
form(action='/calcular-macronutrientes', method='POST', id='calculoForm')
  label(for='calorias') Calorías totales
  input(type='number', id='calorias', name='calorias', required)

  label(for='distribucion') Distribución de Macronutrientes
  select(id='distribucion', name='distribucion')
    option(value='40-40-20') 40% Proteínas, 40% Carbohidratos, 20% Grasas
    option(value='50-30-20') 50% Proteínas, 30% Carbohidratos, 20% Grasas
    option(value='personalizado') Personalizada

  div#customInputs(style='display: none;')
    label(for='proteinas') Porcentaje de Proteínas
    input(type='number', id='proteinas', name='proteinas', min='0', max='100')

    label(for='carbohidratos') Porcentaje de Carbohidratos
    input(type='number', id='carbohidratos', name='carbohidratos', min='0', max='100')

    label(for='grasas') Porcentaje de Grasas
    input(type='number', id='grasas', name='grasas', min='0', max='100')

  button(type='submit', id='calcularBtn') Calcular

div#resultado1
  block content1
