doctype html
html
  head
    title Calculadora de Macronutrientes
    link(rel="stylesheet", href="/css/Styles.css")
    script(src='/public/scripts/main.js')
  body
    nav
      ul
        li
          a(href='/') Calculadora
        li 
         a(href='/planificador') Planificador
    .container
      block content2
      block content3
