extends index

block content
  h1 Resultado de tu cálculo
  p Tus necesidades calóricas diarias son: #{resultado.caloriasDiarias} kcal.
  p Macro nutrientes: #{JSON.stringify(resultado.macronutrientes)}
